<style>
  .card {
    background: #FFFFFF;
    padding: 16px;
    border-radius: 4px;
    border: 0.5px solid #E0E1E6;
    box-shadow: 0px 12px 20px rgba(28, 32, 36, 0.1);
    gap: 16px;
    max-width: 368px;
  }
  .card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }
  .card__headline {
    color: #1C2024;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03px;
  }
  .card__close {
    padding: 8px;
    border: none;
    background: none;
    line-height: 0;
  }
  .card__message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 8px;
  }
  .card__title {
    color: #1C2024;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  .card__body {
    color: #60646C;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .card__image {
    display: block;
    margin-top: 16px;
    max-width: 100%;
    height: auto;
  }
  .card__actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-top: 16px;
  }
  .card__btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border-radius: 6px;
    padding: 8px 16px;
    border: 0.5px solid #1C2024;
    background: #1C2024;
    color: #FCFCFD;
  }
  .card__btn--secondary {
    border-color: #D9D9E0;
    background: #FFFFFF;
    color: #1C2024;
  }
</style>
<div class="card">
  <div class="card__header">
    <h3 class="card__headline">{{ headline }}</h3>
    {% if dismissible %}
      <button class="card__close">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none">
          <g fill="#60646C" fill-rule="evenodd" clip-rule="evenodd">
            <path d="M14.03 3.97a.75.75 0 0 1 0 1.06l-9 9a.75.75 0 0 1-1.06-1.06l9-9a.75.75 0 0 1 1.06 0Z"/>
            <path d="M3.97 3.97a.75.75 0 0 1 1.06 0l9 9a.75.75 0 1 1-1.06 1.06l-9-9a.75.75 0 0 1 0-1.06Z"/>
          </g>
        </svg>
      </button>
    {% endif %}
  </div>
  <div class="card__message">
    <div class="card__title">
      {{ title }}
    </div>
    <div class="card__body">
      {{ body }}
    </div>
  </div>
  {% if image.url != blank %}
    <img class="card__image" src="{{ image.url }}" alt="{{ image.alt }}">
  {% endif %}
  {% if variant == "single-action" or variant == "multi-action" %}
    <div class="card__actions">
      <button class="card__btn">
        {{ primary_button.text }}
      </button>

      {% if variant == "multi-action" %}
        <button class="card__btn card__btn--secondary">
          {{ secondary_button.text }}
        </button>
      {% endif %}
    </div>
  {% endif %}
</div>